:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --btn-main-color: #4d5ae5;
  --btn-second-color: #f4f4fd;
  --footer-text: #f4f4fd;
  --accent-bg-color: #2e2f42;
  --secondary-acnt-bg-color: #f4f4fd;
  --focus-hover: #404bbf;
  --main-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --label-form-color: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.section {
  padding: 96px 0px;
  margin: 0 auto;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0px;
  }
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER */

.page-header {
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    padding: 0 0;
  }
}

.logo {
  display: block;
  padding: 24px 0;
  align-items: center;

  color: var(--btn-main-color);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.highlight {
  color: var(--primary-text-color);
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-list {
    margin-left: 120px;
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 60px;
  }
}

.nav-list:last-child {
  margin-right: 0px;
}

.nav-item {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  content: "";

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-hover);

  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--focus-hover);
}

.nav-link-text {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.active {
  color: var(--focus-hover);
}

.address {
  display: none;
}

@media only screen and (min-width: 768px) {
  .address {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
  }
}

@media only screen and (min-width: 1158px) {
  .address {
    width: auto;
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .address-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .address-item:last-child {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
  }

  .address-item:last-child {
    margin-right: 0px;
  }
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .address-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
  }
}

.address-link .address-link:hover,
.address-link:focus {
  color: var(--focus-hover);
}

.menu-toggle-icon {
  stroke: var(--accent-bg-color);
}

/* HERO */
.hero {
  max-width: 1600px;
  margin: 0 auto;

  padding: 188px 0;
  background-image: var(--main-gradient), url(../images/hero/mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--main-gradient), url("../images/hero/mob@2x.jpg");
  }
}

@media only screen and (min-width: 481px) {
  .hero {
    background-image: var(--main-gradient), url("../images/hero/tab@1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--main-gradient), url("../images/hero/tab@2x.jpg");
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: var(--main-gradient), url("../images/hero/desk@1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--main-gradient), url("../images/hero/desk@2x.jpg");
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding: 112px 0;
    max-width: 1440px;
  }
}

.hero-warap {
  width: 320px;
  padding: 0 0;
}

@media only screen and (min-width: 768px) {
  .hero-warap {
    width: 496px;
  }
}

.hero-title {
  color: var(--accent-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
  }
}

.hero-btn {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-top: 48px;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  color: var(--accent-text-color);
  background-color: var(--btn-main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-text-color);
  background-color: #404bbf;
}

/* FEAUTURES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 1158px) {
  .features {
    padding-bottom: 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-item:not(:nth-last-child(-n + 2)) {
  }
}

@media only screen and (min-width: 1158px) {
  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

@media only screen and (max-width: 1157px) {
  .features-link-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .features-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--secondary-acnt-bg-color);
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 1158px) {
  .features-icon {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .features-icon {
  }
}

.feature-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .feature-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1157px) {
  .feature-text {
    font-weight: 500;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}

/* Whatwearedoing*/

@media only screen and (max-width: 1158px) {
  .samples {
    display: none;
  }
}

.samples-title {
  margin-bottom: 72px;
}

.samples-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-bg-color);
}

.sample-list:last-child {
  margin-right: 0;
}

.sample-item {
  width: calc((100% - 2 * 24px) / 3);
}

/* TEAM */
.team {
  background-color: var(--secondary-acnt-bg-color);
}

.team-wrap {
}

@media only screen and (min-width: 768px) {
  .team-wrap {
    max-width: 584px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 72px 24px;
  }
}

.team-item {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) and (max-width: 1158px) {
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    margin-bottom: 0;
  }
}

.team-item-wrapper {
  padding: 32px 0;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-subtitle {
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  width: 264px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--btn-main-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background: var(--focus-hover);
}

.team-soc-icon {
  fill: var(--btn-second-color);
}

/* CUSTOMERS */

.section-title {
  margin-bottom: 72px;
}

@media only screen and (min-width: 320px) {
  .clients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 16px;
  }
}
.customer-wrap {
  max-width: 584;
}
@media only screen and (min-width: 768px) {
  .clients-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .clients-list {
    width: 100%;
    justify-content: center;
    gap: 24px;
  }
}

@media only screen and (min-width: 320px) {
  .clients-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .clients-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 88px;

  border-radius: 4px;
  border: 1px solid #8e8f99;

  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .clients-link {
  }
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/* FOOTER*/

.page-footer {
  background-color: var(--accent-bg-color);
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-logo-box .logo {
  text-align: center;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-box {
    max-width: 584px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-box {
    display: flex;
    max-width: 1158px;
    gap: 0;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-logo-box {
    margin-right: 128px;
    margin-bottom: 0;
  }
}

.page-footer .link {
  display: inline-block;
  margin: 0 0 16px 0;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .page-footer .link {
    display: flex;
    text-align: left;
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .page-footer .link {
    margin-bottom: 16px;
  }
}

.page-footer .logo-highlight {
  color: #f4f4fd;
}

.footer-text-logo {
  color: var(--secondary-acnt-bg-color);
  margin: 0 auto;
  text-align: left;
  width: 264px;
}

@media only screen and (min-width: 1158px) {
  .footer-soc-box {
    margin-right: auto;
  }
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-soc-item {
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--btn-main-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text-soc {
  text-align: center;
  margin-bottom: 16px;
  color: var(--accent-text-color);
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .footer-text-soc {
    text-align: left;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-text-soc {
    margin-bottom: 16px;
  }
}

.footer-soc-icon {
  fill: var(--secondary-acnt-bg-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* FOOTER - FORM */

.footer-form-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media only screen and (min-width: 768px) {
  .footer-form-text {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}

.footer-lbl {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-lbl {
    margin-bottom: 0;
  }
}

.footer-input {
  width: 100%;

  padding: 0 16px;
  height: 40px;

  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  opacity: 0.30000001192092896;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: transparent;

  color: var(--accent-text-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-input::placeholder {
  color: var(--accent-text-color);
}

.footer-form-btn {
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .footer-form-btn {
    margin: 0;
  }
}

.form-btn-icon {
  margin-left: 16px;
  fill: var(--accent-text-color);
}

/* PORTFOLIO */

.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* Buttons */

.filters-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-filter {
  padding: 12px 24px;
  background: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #e7e9fc;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.filters-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 24px * 2) / 3);
}

.filters-title-box {
  display: block;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.filters-title {
  text-align: left;
  margin-bottom: 8px;
}

.filters-image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-acnt-bg-color);

  padding: 40px 32px;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  padding: 40px 32px;
  background-color: var(--btn-main-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.filters-item:hover .overlay {
  transform: translateY(0);
}
/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 392px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 427.8px) {
  .modal {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

.modal-btn {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon {
  fill: var(--accent-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: #ffffff;
}

.modal-form-title {
  margin-bottom: 16px;
  text-align: center;
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Forma modal hero*/

.field-wrap {
  margin-bottom: 8px;
}

.form-lbl {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-form-color);
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--btn-main-color);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-input-icon {
  fill: var(--btn-main-color);
}

.field-comment-wrap {
  margin-bottom: 16px;
}

.form-input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:focus {
  border-color: #4d5ae5;
}

.form-chbx-wrap {
  margin-bottom: 24px;
}

.form-chbx-lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-form-color);
}

.chbx-lbl-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-chbx-input:checked + .form-chbx-lbl .chbx-lbl-span {
  background-color: var(--focus-hover);
  border: none;
  fill: var(--secondary-acnt-bg-color);
}

.form-chbx-icon {
  opacity: 0;
}

.form-chbx-input:checked + .form-chbx-lbl .chbx-lbl-span > .form-chbx-icon {
  opacity: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chbx-link {
  color: var(--btn-main-color);
}

.modal-form-btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**Mobile menu*/

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.js-close-menu {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: var(--accent-text-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  overflow: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: auto;
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link {
  display: block;
  padding: 0px;
  color: var(--accent-bg-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-nav {
  margin-bottom: auto;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.address-mobile {
  margin-bottom: 48px;
  margin-top: auto;
}

.mobile-address-link {
  color: var(--btn-main-color);
  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  letter-spacing: 0.72px;
}

@media only screen and (max-width: 427.8px) {
  .mobile-address-link {
    font-size: 24px;
  }
}

.mobile-address-list li:last-child .mobile-address-link {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-soc-list {
  display: flex;
  width: 328px;
  gap: 56px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 427.8px) {
  .mobile-soc-list {
    width: 268px;
    gap: 24px;
    justify-content: space-between;
  }
}

.mobile-soc-item {
  width: 40px;
  height: 40px;
}

.mobile-menu .active-menu {
  color: var(--focus-hover);
}

.mobile-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--btn-main-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background: var(--focus-hover);
}

.mobile-soc-icon {
  fill: var(--btn-second-color);
}
.menu-scroll-container {
}
